.socials-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.socials-list li {
    border: solid 2px;
    border-radius: 12px;
    padding: 18px 0;
    max-width: 375px;
    width: 100%;
    margin: auto;
}

.socials-list li:nth-child(1) {
    border-color: #896bff;
}

.socials-list li:nth-child(2) {
    border-color: #776bff;
}

.socials-list li:nth-child(3) {
    border-color: #6b83ff;
}

.socials-list li:nth-child(4) {
    border-color: #6b9dff;
}

.socials-list li:nth-child(5) {
    border-color: #6b9dff;
}

.socials-list li:nth-child(6) {
    border-color: #6bc1ff;
}

.socials-list a {
    text-decoration: none;
    color: var(--title-color);
    font-family: var(--text-font);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials-list a img {
    height: 20px;
}

/* filtros para alterar a cor dos arquivos svg */
.filter-1 {
    filter: invert(38%) sepia(62%) saturate(1451%) hue-rotate(226deg)
        brightness(107%) contrast(101%);
}

.filter-2 {
    filter: invert(46%) sepia(93%) saturate(3054%) hue-rotate(224deg)
        brightness(99%) contrast(107%);
}

.filter-3 {
    filter: invert(52%) sepia(11%) saturate(3769%) hue-rotate(196deg)
        brightness(101%) contrast(101%);
}

.filter-4 {
    filter: invert(47%) sepia(90%) saturate(462%) hue-rotate(189deg)
        brightness(110%) contrast(105%);
}

.filter-5 {
    filter: invert(74%) sepia(12%) saturate(4628%) hue-rotate(177deg)
        brightness(101%) contrast(101%);
}
