.card {
    background-color: var(--card-bg-color);
    border-radius: 35px;
    padding: 52px 25px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    max-width: 420px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 15px 35px 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.031);
    margin: 10px -25px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .card {
        padding: 48px 42px;
        max-width: 460px;
    }

    hr {
        margin: 10px -42px;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        padding: 30px 30px;
        max-width: 560px;
    }

    hr {
        margin: 10px -30px;
    }
}

@media screen and (min-width: 1920px) {
    .card {
        scale: 1.2;
    }
}
