.card {
    background-color: var(--card-bg-color);
    border-radius: 35px;
    padding: 52px 25px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.031);
    margin: 10px -25px;
    padding: 0;
}
